.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--elements-color);
  border-radius: 8px;
  box-shadow: 0 0 6px var(--bg-color);
}
.card__img {
  height: 100%;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card__text {
  padding: 0 24px;
  padding-bottom: 24px;
  font-weight: 300;
}

.card__name {
  font-weight: 800;
}

.description {
  font-weight: 600;
}
