.light {
  --text-color: hsl(200, 15%, 8%);
  --input-color: hsl(0, 0%, 52%);
  --bg-color: hsl(0, 0%, 98%);
  --elements-color: hsl(0, 0%, 100%);
}

.dark {
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
  --bg-color: hsl(207, 26%, 17%);
  --elements-color: hsl(209, 23%, 22%);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
