nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 0;
}

@media (max-width: 500px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
  }
}
