.search-icon {
  position: absolute;
  right: 24px;
  color: var(--text-color);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

#search {
  background-color: var(--elements-color);
  color: var(--text-color);
  border-radius: 4px;
  border: 1px solid;
  padding: 16px 32px;
}

#search::placeholder {
  opacity: 0.9;
}
