.search-icon {
  position: absolute;
  right: 24px;
  color: var(--text-color);
}

.search {
  position: relative;
  display: flex;
  align-items: center;
}

#search {
  background-color: var(--elements-color);
  color: var(--text-color);
  border-radius: 4px;
  box-shadow: 0 0 2px hsla(0, 0%, 0%, 0.295);
  border: none;
  padding: 16px 32px;
}

#search::placeholder {
  opacity: 0.9;
}
